node_modules
npm-debug.log
dist
.next
.env
*.md
Dockerfile
Dockerfile.*
.git
.gitignore
.vscode
*.test.*
*.spec.*
coverage
*.log
*.sqlite
*.db
*.db-journal
*.zip
*.tar
*.tar.gz
*.tgz
*.bak
*.swp
*.swo
*.tmp
*.DS_Store
*.pem
*.key
*.crt
*.env.*
README.md
