# OpenAI
OPENAI_API_KEY=tu_api_key_de_openai

# WhatsApp (Step 2)
WHATSAPP_TOKEN=tu_token_whatsapp
WHATSAPP_PHONE_ID=tu_phone_id_whatsapp
STRIPE_API_KEY=tu_api_key_stripe

# Messenger
FACEBOOK_PAGE_TOKEN=tu_token_pagina_facebook

# Instagram
INSTAGRAM_ACCESS_TOKEN=tu_access_token_instagram
INSTAGRAM_USER_ID=tu_id_ig_business

# Verificación de Webhook (Facebook)
FACEBOOK_VERIFY_TOKEN=tu_token_de_verificacion

PORT=3000
